*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: rgb(163, 190, 184);
}

h1{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 16px;
}

.card-container{ 
    display: flex;
    flex-direction: column;
    align-items: center;


}

.form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-action{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.form-text{
    margin-bottom: 1rem;
    margin-top: 16px;

}

.form-number{
    margin-bottom: 16px;
}
